.Home{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.Home .content{
    width: 100%;
    height: auto;
    display: flex;
   justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Home .content .box {
    width: 400px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media all and (max-width:800px){
    .Home .content .box {
       width: 90%;
    }
}